body {
    overflow: hidden;
    height: 80vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align:center;
    letter-spacing:5px;
    
}
#glitches {
    position: relative;
}
#main {
    color: white;
    animation: fade 10s infinite;
}
#letters {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    color: white;
    filter: blur(2px);
}
#letters .letter {
    animation: up 5s infinite linear;
}
#letters .letter:nth-child(2) {
    animation-delay: 0.3s;
}
#letters .letter:nth-child(3) {
    animation-delay: 0.4s;
}
#letters .letter:nth-child(4) {
    animation-delay: 0.2s;
}
#letters .letter:nth-child(5) {
    animation-delay: 0.1s;
}
#letters .letter:nth-child(6) {
    animation-delay: 0.3s;
}
#letters .letter:nth-child(7) {
    animation-delay: 0.4s;
}
#letters .letter:nth-child(8) {
    animation-delay: 0.2s;
}
#letters .letter:nth-child(9) {
    animation-delay: 0.1s;
}
#letters .letter:nth-child(10) {
    animation-delay: 0.4s;
}
#letters .letter:nth-child(11) {
    animation-delay: 0.2s;
}
#letters .letter:nth-child(12) {
    animation-delay: 0.1s;
}
@keyframes up {
    0% {
        transform: translate(0, 0) skew(0);
   }
    20% {
        transform: translate(0, -10%) skew(-5deg);
   }
    40% {
        transform: translate(0, -20%) skew(8deg);
   }
    60% {
        transform: translate(0, -30%) skew(-7deg);
   }
    80% {
        transform: translate(0, -20%) skew(4deg);
   }
    100% {
        transform: translate(0, -10%) skew(0);
        opacity: 0;
   }
}
@keyframes fade {
    0% {
        opacity: 1;
   }
    30% {
    opacity: 0.5;
    }
    50% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.3;
   }
}
